@use "../scssGlobals/index" as g;

#appContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: 100%;

	#topContainer {
		position: sticky;
		top: 0%;

		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 1rem;
		z-index: 1000;

		height: 6rem;
		width: 100%;

		padding: 1rem;

		background-color: red;

		border-bottom: 3px solid var(--accent-colour);
	}

	#bottomContainer {
		display: flex;
		justify-content: flex-start;

		#leftContainer {
			display: flex;
			flex-direction: column;
			z-index: 999;

			position: fixed;
			height: 100%;

			padding-right: 5px;

			background-color: var(--component-colour);
			border-right: 3px solid var(--accent-colour);

			hr {
				width: 90%;
				color: var(--accent-colour);
			}
		}

		.enter {
			max-width: 0;
		}

		.enter-active {
			max-width: 25rem;
			// width: clamp(19rem, 25%, 25rem);
			transition: max-width 200ms ease-in;
		}

		.exit {
			max-width: 25rem;

			// width: clamp(19rem, 25%, 25rem);
		}

		.exit-active {
			max-width: 0;

			transition: max-width 300ms ease-out;
		}

		#rightContainer,
		#navbarExpandedRightContainer {
			display: flex;
			flex-direction: column;

			width: 100%;
			height: 100%;

			padding: 1rem;

			#mainContentContainer {
				width: 100%;

				border: 2px solid black;
			}
		}

		#navbarExpandedRightContainer {
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
			z-index: 100;
		}
	}
}
