:root {
	//Colour for logo, navbar, and footer
	--header-component-colour: #fed362;

	//Colour for mainContent
	--page-colour: #fff8e8;
	--font-colour: #252525;
	--accent-colour: #0d3037;

	//Colour for focus/active/hover effects
	--pseudo-class-colour: rgb(248, 113, 2);
}
