:root {
	//Colour for logo, navbar, and footer
	--component-colour: #368aa6bb;
	--component-font-colour: #ffffff;

	//Colour for mainContent
	--page-colour: #ffffff;
	--font-colour: #252525;
	--accent-colour: #0d3037;

	//Colour for focus/active/hover effects
	--pseudo-class-colour: rgb(248, 113, 2);
}
