:root {
	// --default-font-size: clamp(0.8rem, 1.25vw, 1.5rem);

	--font-family: "Inter";
	// --font-size: clamp(18px, 22px, 24px);
	--font-size: 18px;
	--font-weight: 300;

	--button-font-size: 22px;
	--placeholder-font-size: 22px;
	--label-font-size: 22px;
	--eye-size: clamp(1rem, 1.2vw, 1.5rem);
}
