@use "../scssGlobals/index" as g;

.footerContainer {
	min-height: 5.5rem;
	width: 100%;
	padding: 5px;
	border-top: 1px solid black;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	h3 {
		margin: 0;
		text-align: center;
	}

	#contactDetailsContainer {
		p {
			margin: 0;
			padding: 0;
		}
	}
}

.footerContainer2 {
	display: none;

	background-image: var(--header-component-colour);
}

@media (max-width: g.$change-layout-breakpoint) {
	.footerContainer {
		display: none;
	}
	.footerContainer2 {
		border-top: 4px solid black;

		/*Margin-top is set to auto to ensure footer is "stuck to the bottom of the page"*/
		margin-top: auto;
		padding: 1rem;
		min-height: 4rem;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position: relative;
	}
}
