@use "../scssGlobals/index" as g;

.hamburgerMenuBtn {
	display: flex;
	background-color: transparent;
	border: 1px solid var(--accent-colour);

	cursor: pointer;

	// transition: border 350ms ease-in-out;

	.hamburgerMenuIcon {
	}

	& .SVGLine {
		transform-origin: center center;
		transform-box: fill-box;
	}

	// "<"
	&[aria-expanded="false"] {
		& .SVGLine {
			&.Top {
				transform: translateY(0) rotate(0deg);
				transition: transform 400ms ease-in-out;
				stroke: pink;
			}
			&.Bottom {
				transform: translateY(0) rotate(0deg);
				transition: transform 400ms ease-in-out;
				stroke: pink;
			}
		}
	}

	// ">"
	&[aria-expanded="true"] {
		& .SVGLine {
			&.Top {
				transform: translateY(0) rotate(-52deg);
				transition: transform 400ms ease-in-out;
			}
			&.Bottom {
				transform: translateY(0) rotate(52deg);
				transition: transform 400ms ease-in-out;
			}
		}
	}
}
