@use "../scssGlobals/index" as g;

.hamburgerMenuBtn {
	display: flex;
	background-color: transparent;
	border: 1px solid var(--accent-colour);

	cursor: pointer;

	// transition: border 350ms ease-in-out;

	.hamburgerMenuIcon {
		border: 1px solid pink;
	}

	& .SVGLine {
		color: var(--accent-colour);
		transform-box: fill-box;
		//ensures lines rotate around their centre
		transform-origin: center center;
		//transition: 1) rotate top and middle lines back, 2) move top and bottom lines back, 3) show middle line using opacity
		transition: color 400ms ease-out, transform 200ms ease-out 200ms, rotate 200ms ease-in, opacity 200ms 400ms;
	}

	&[aria-expanded="false"] {
		// &:hover {
		// 	box-shadow: 0 0 10px greenyellow;
		// 	border: 2px solid greenyellow;
		// 	& .SVGLine {
		// 		color: greenyellow;
		// 	}
		// }
	}

	&[aria-expanded="true"] {
		& .SVGLine {
			// stroke: greenyellow;
			//transition: 1) hide middle line using opacity, 2) move top and bottom lines to middle, 3) rotate top and bottom lines
			transition: color 400ms ease-in, transform 200ms ease-in 150ms, rotate 200ms ease-in 400ms, opacity 150ms;
		}

		& .SVGLine {
			&.Top {
				stroke: "pink";
				transform: translateY(0) rotate(-52deg); /* Move down and rotate to form '>' */
			}
			&.Bottom {
				transform: translateY(0) rotate(52deg); /* Move up and rotate to form '>' */
			}
		}
	}
}

@media (max-width: g.$change-layout-breakpoint) {
	.hamburgerMenuBtn {
		display: flex;
	}
}
